
#barComplement, #bar, #barComplementBottom, #barBottom {
    position: absolute;
    z-index: -1;
}
#barComplement {
    height: 62.5%;
    top: -50%;
    left: -12.5%;
}
#bar {
    height: 62.5%;
    top: -50%;
    left: 75%;
}
#barComplementBottom {
    height: 62.5%;
    top: 75%;
    left: 0%;
}
#barBottom {
    height: 62.5%;
    top: 75%;
    left: 87.5%;
}
@media screen and (max-width: 50rem) {
    #barComplement {
        left: -25%;
    }
    #bar {
        left: 37.5%;
    }
    #barComplementBottom {
        left: 0;
    }
    #barBottom {
        left: 75%;
    }
}
@media screen and (max-width: 37.5rem) {
    #barComplement {
        left: -50%;
    }
    #bar {
        left: 50%;
    }
    #barComplementBottom {
        left: -25%;
    }
    #barBottom {
        left: 75%;
    }
}


#formPanel {
    position: absolute;
    width: 37.5%;
    height: 100%;
    left: calc(50% - 18.75%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
@media screen and (max-width: 50rem) {
    #formPanel {
        width: calc(100% - 16rem);
        right: 8rem;
    }
}
@media screen and (max-width: 37.5rem) {
    #formPanel {
        width: calc(100% - 8rem);
        right: 4rem;
    }
}
#logo {
    width: 100%;
}

#formPanel > h1 {
    text-align: center;
    color: var(--color-primary);
}

#form {
    width: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#form > span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#loginButton {
    width: 100%;
}

#register, #forgotPassword {
    text-align: center;
}